* {
    color: white;
    font-size: 30px;
}

body {
    background-color: black;
}

#main > p {
    margin: 30px 30px 0px 30px;
    font-family: 'Courier New';
}

#options {
    display: block;
    width: 50%;
    margin: auto;
}

#options > p {
    border: 1px solid white;
    margin: 0px;
    padding: 5px;
}

#options > p:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}