* {
    color: white;
    font-size: 30px;
    margin:0;
    padding:0;
}

body {
    background-color: black;
    margin: none;
}

#in-front-canvas {
    position: absolute;
    inset-block-start: 0px;
    inset-inline-start: 0px;
}

#main > p {
    margin: 30px 30px 0px 30px;
    font-family: 'Courier New';
}

#options {
    display: block;
    width: 50%;
    margin: auto;
}

#options > p {
    border: 1px solid white;
    margin: 0px;
    padding: 5px;
}

#options > p:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

#canvas {
    position: relative;
    top: 0px;
    z-index: -1;
}